#attendanceDiv{
	width: 890px;
}

.ui-datepicker {
    background: white;
    border: 1px solid #555;
    color: black;
    display: none;
}

.ui-datepicker-next{
	padding-left: 91px;
}

a:link {
	font-family:Arial; color:blue;
}

.attDetailsInputField{
	background: #FFFACD;
}
